@media only screen and (max-width: 600px) {
     .containterforms {
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }

    .formContat {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 8;
    }

    .map {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 8;
        grid-row-end: 16;

    }

    iframe {
        max-width: auto;
        height: 100%;
        margin-bottom: 48px;
    }

    .itemhalf {
        grid-auto-columns: min-content;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    footer{
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        background-color:#64dd17;
        color: black;
    }
    #footline{
        font-size: 1rem;
        font-weight: bolder;
    }
    footer div i{
        color:black;
        font-size: large;
    }
}

/* Medium devices (600px and up) */
@media only screen and (min-width: 600px) {
    .containterforms {
        min-width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(12, 1fr);
    }

    .formContat {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 8;
    }

    .map {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 8;
        grid-row-end: 16;

    }

    .itemhalf {
        grid-auto-columns: min-content;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    iframe {
        max-width: auto;
        height: 100%;
        margin-bottom: 48px;
    }
    footer{
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        background-color:#64dd17;
        color: black;
    }
    #footline{
        font-size: 1rem;
        font-weight: bolder;
    }
    footer div i{
        color:black;
        font-size: x-large;
    }
}

/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
    .containterforms {
        min-width: 80%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .formContat {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 8;
    }

    .map {
        grid-column-start: 8;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 8;
    }

    .itemhalf {
        grid-auto-columns: min-content;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    footer{
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        background-color:#64dd17;
        color: black;
        padding: 2rem;

    }
    #footline{
        font-size: 1.5rem;
        font-weight: bolder;
    }
    footer div i{
        color:black;
        font-size: xx-large ;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}